<?xml version="1.0"?>
<launch>

	<!-- ROSPlan -->
	<include file="$(find rosplan_planning_system)/launch/qrotor_planning_interface.launch" >
		<arg name="domain_path"		value="$(find rotor_control)/common/domain.pddl" />
		<arg name="problem_path"	value="$(find rotor_control)/common/problem.pddl" />
	</include>

	


	<node name="rotorActionInterface" pkg="rotor_control" type="rotorActionInterface.py" respawn="false" output="screen">
	</node>

	<!-- sim actions -->
	<node name="rosplan_interface_movebetweensquares" pkg="rosplan_planning_system" type="qrotorInterface" respawn="false" output="screen">
      		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="movebetweensquares" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
  	</node>
	
	<node name="rosplan_interface_lowerdrone" pkg="rosplan_planning_system" type="qrotorInterface" respawn="false" output="screen">
      		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="lowerdrone" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
  	</node>

	<node name="rosplan_interface_higherdrone" pkg="rosplan_planning_system" type="qrotorInterface" respawn="false" output="screen">
      		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="higherdrone" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
  	</node>

	<node name="rosplan_interface_takepic" pkg="rosplan_planning_system" type="qrotorInterface" respawn="false" output="screen">
      		<param name="knowledge_base"		value="rosplan_knowledge_base" />
		<param name="pddl_action_name"		value="takepic" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
  	</node>
	


</launch>
